{{> header}}

<div class="container">

    <ul class="list-group">
        {{#each brokers}}
        <li class="list-group-item">
            <strong>
                {{host}}:{{port}}
            </strong>

            (JMX port: {{jmx_port}})
        </li>
        {{/each}}
    </ul>

</div>

{{> footer}}
