{{> header}}

<div class="container">

    <div class="jumbotron">
        <h1>Offtopic!</h1>
        <p>
            Offtopic is a web application for digging around in <a href="http://kafka.apache.org" target="_blank">Kafka</a>
        </p>
    </div>

</div>

{{> footer}}
