{{> header}}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form id="grep" role="form">
                <input id="grepfield" class="form-control" type="search" placeholder="grep for.." size="20"/>
            </form>
        </div>

        <div class="col-md-1">
            <button id="stop" class="btn-sm btn-danger">
                <span class="glyphicon glyphicon-stop glyphicon-align-left" aria-hidden="true"></span>
                Stop
            </button>
            <button id="start" class="btn-sm btn-success" style="display: none;">
                <span class="glyphicon glyphicon-play glyphicon-align-left" aria-hidden="true"></span>
                Start
            </button>
        </div>

        <div class="col-md-1">
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">Loading..</span>
                </div>
            </div>
        </div>
    </div>

    <div id="messages">
    </div>

</div>

<script src="/js/ws.js?1"></script>
<script type="text/javascript">
    watchTopic("{{name}}");

    $('#grep').submit(function(e) {
        if (window.ws) {
            window.ws.send($('#grepfield').val());
        }
        $('#grepfield').blur();
        e.preventDefault();
    });

    $('#stop').click(function(e) {
        $(e.target).toggle();
        $('#start').toggle();
        if (window.ws) { window.ws.close() };
    });

    $('#start').click(function(e) {
        $(e.target).toggle();
        $('#stop').toggle();
        watchTopic("{{name}}");
    });
</script>
{{> footer}}
