{{> header}}

<div class="container">
    <div class="progress" style="width: 100px;">
    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">Loading..</span>
    </div>
    </div>

    <div id="messages">
    </div>

</div>

<script src="/js/ws.js?1"></script>
<script type="text/javascript">
    watchTopic("{{name}}");
</script>
{{> footer}}
