body {
    padding-top: 50px;
}

.multipass-body {
    font-size: 1.2em;
}

.multipass-actions {
    margin-top: 10px;
}

.multipass-label {
    margin-left: 3px;
    margin-right: 3px;
}

.wallboard-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.message-raw {
}

.offset {
    font-family: monospace;
    font-size: 0.7em;
}

.message-timestamp {
    float: right;
}

.message-show-b64 {
    font-size: 0.7em;
}

.topics-watched .label {
    margin-right: 3px;
}
